.links-list {
    display: flex;
    list-style-type: none;
    justify-content: center;       
}


.links-list a {
    margin: 0 4px;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.links-list a:visited{
    text-decoration: none;

}

nav {
    position: fixed;
    text-align:center;
    height: 50px;
    justify-content: center;
    background: black;
    width: 100%;
}

header {
    height: 100px;
    z-index: 4;
}